<div class="card">
    <!-- <div> -->
    <span class="card-header">{{ pageTitle }}
        <button type="button" class="btn btn-secondary" style="margin-left: 3px">
            <a style="color: white;" href="http://localhost:4200/station">Station</a>
        </button>
    </span>
    <!-- </div> -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>From Station</th>
                        <th>To Station</th>
                        <th>
                            <button *ngIf="uneditable" (click)="startEdit()" type="button" class="btn btn-primary">
                                Edit
                            </button>
                            <button *ngIf="editable" (click)="endEdit()" type="button" class="btn btn-secondary">
                                Done
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trip of trips">
                        <td>
                            {{ trip.id }}
                        </td>
                        <td>
                            <div *ngIf="uneditable && !editable">{{ trip.startTime }}</div>
                            <div *ngIf="editable" class="input-group mb-1">
                                <input type="text" class="form-control" [(ngModel)]="trip.startTime"
                                    (input)="editStationST(trip.startTime, trip.id)" />
                            </div>
                        </td>
                        <td>
                            <div *ngIf="uneditable && !editable">{{ trip.endTime }}</div>
                            <div *ngIf="editable" class="input-group mb-1">
                                <input type="text" class="form-control" [(ngModel)]="trip.endTime"
                                    (input)="editStationET(trip.endTime, trip.id)" />
                            </div>
                        </td>
                        <td>
                            <div *ngIf="uneditable && !editable">{{ trip.fromStation }}</div>
                            <div *ngIf="editable" class="input-group mb-1">
                                <select #from name="FromStation" id="FromStation"
                                    (change)="editStationFS(from.value, trip.id)">
                                    <option value="" disabled selected>
                                        {{ trip.fromStation }}
                                    </option>
                                    <option *ngFor="let station of stations">
                                        {{ station.name }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="uneditable && !editable">{{ trip.toStation }}</div>
                            <div *ngIf="editable" class="input-group mb-1">
                                <select #from name="ToStation" id="ToStation"
                                    (change)="editStationTS(from.value, trip.id)">
                                    <option value="" disabled selected>
                                        {{ trip.toStation }}
                                    </option>
                                    <option *ngFor="let station of stations">
                                        {{ station.name }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deleteRow(trip.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" style="font-weight: bold; font-size: 20px"
                                (click)="addTrip()">
                                Add Trip
                            </button>
                        </td>
                        <td><input type="text" [(ngModel)]="temp2.startTime" /></td>
                        <td><input type="text" [(ngModel)]="temp2.endTime" /></td>
                        <td>
                            <div class="input-group mb-1">
                                <select #from name="FromStation" id="FromStation" [(ngModel)]="temp2.fromStation">
                                    <option *ngFor="let station of stations">
                                        {{ station.name }}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <div class="input-group mb-1">
                            <select #from name="ToStation" id="ToStation" [(ngModel)]="temp2.toStation">
                                <option *ngFor="let station of stations">
                                    {{ station.name }}
                                </option>
                            </select>
                        </div>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
