<div class="card">
    <!-- <div> -->
    <span class="card-header">{{ pageTitle }}
        <button type="button" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;">
            <a style="color: white;" href="http://localhost:4200/trip">Trip</a>
        </button>
    </span>

    <!-- </div> -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Station Name</th>
                        <th>
                            <button *ngIf="uneditable" (click)="startEdit()" type="button" class="btn btn-primary">
                                Edit
                            </button>
                            <button *ngIf="editable" type="button" class="btn btn-secondary" (click)="endEdit()">
                                Done
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let station of stations">
                        <td>
                            {{ station.id }}
                        </td>
                        <td>
                            <div *ngIf="uneditable && !editable">{{ station.name }}</div>
                            <div *ngIf="editable" class="input-group mb-1">
                                <input type="text" class="form-control" [(ngModel)]="station.name"
                                    (input)="editStation(station)" [ngModelOptions]="{ standalone: true }" />
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deleteRow(station.id)">
                                Delete
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" style="font-weight: bold; font-size: 20px"
                                (click)="addStation()">
                                Add Station
                            </button>
                        </td>
                        <td><input type="text" [(ngModel)]="temp2.name" /></td>
                </tbody>
            </table>
        </div>
    </div>
</div>